{% extends '::base.html.twig' %}

{% set emptyRoomImage %}
    <img src="{{ asset('img/locations/null.png') }}">
{% endset %}

{% block javascripts %}
    <script type="text/javascript">
        var sessionId = '{{ sessionId }}';
    </script>

    <script type="text/javascript" src="{{ asset('js/autobahn.min.jgz') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/websocket/client.js') }}"></script>
{% endblock javascripts %}

{% block body %}
    <div id="game-underlayer"></div>

    <div id="game-content" class="noselect">
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>

        <div>
            {# TODO[Rottenwood]: Сделать обновление динамическим #}
            Сейчас в игре: {{ onlinePlayersCount }} {{ 'users.online'|transchoice(onlinePlayersCount) }}.
        </div>
    </div>

    <div id="game-map" class="noselect">
        <div class="map">
            <div class="map-frame-line y5">
                <div class="map-frame x1">{{ emptyRoomImage }}</div>
                <div class="map-frame x2">{{ emptyRoomImage }}</div>
                <div class="map-frame x3">{{ emptyRoomImage }}</div>
                <div class="map-frame x4">{{ emptyRoomImage }}</div>
                <div class="map-frame x5">{{ emptyRoomImage }}</div>
            </div>
            <div class="map-frame-line y4">
                <div class="map-frame x1">{{ emptyRoomImage }}</div>
                <div class="map-frame x2">{{ emptyRoomImage }}</div>
                <div class="map-frame x3 direction north" data-direction="north">{{ emptyRoomImage }}</div>
                <div class="map-frame x4">{{ emptyRoomImage }}</div>
                <div class="map-frame x5">{{ emptyRoomImage }}</div>
            </div>
            <div class="map-frame-line y3">
                <div class="map-frame x1">{{ emptyRoomImage }}</div>
                <div class="map-frame x2 direction west" data-direction="west">{{ emptyRoomImage }}</div>
                <div class="map-frame-player"><img src="{{ asset('img/locations/character-male.png') }}"></div>
                <div class="map-frame x4 direction east" data-direction="east">{{ emptyRoomImage }}</div>
                <div class="map-frame x5">{{ emptyRoomImage }}</div>
            </div>
            <div class="map-frame-line y2">
                <div class="map-frame x1">{{ emptyRoomImage }}</div>
                <div class="map-frame x2">{{ emptyRoomImage }}</div>
                <div class="map-frame x3 direction south" data-direction="south">{{ emptyRoomImage }}</div>
                <div class="map-frame x4">{{ emptyRoomImage }}</div>
                <div class="map-frame x5">{{ emptyRoomImage }}</div>
            </div>
            <div class="map-frame-line y1">
                <div class="map-frame x1">{{ emptyRoomImage }}</div>
                <div class="map-frame x2">{{ emptyRoomImage }}</div>
                <div class="map-frame x3">{{ emptyRoomImage }}</div>
                <div class="map-frame x4">{{ emptyRoomImage }}</div>
                <div class="map-frame x5">{{ emptyRoomImage }}</div>
            </div>
        </div>
    </div>

    <div id="game-chat"></div>

    <div class="game-chat-input">
        <input id="chat-input" type="text" title="chat-box">
    </div>
{% endblock body %}
