{% extends '::base.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        var hash = '{{ hash }}';
    </script>

    <script type="text/javascript" src="{{ asset('js/autobahn.min.jgz') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/websocket/client.js') }}"></script>
{% endblock javascripts %}

{% block body %}
    <div>
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    </div>

    <h1>Тестирование перемещения</h1>

    <div class="map">
        <div class="map-frame-line">
            <div class="map-frame map1"></div>
            <div class="map-frame map2"></div>
            <div class="map-frame map3"></div>
        </div>
        <div class="map-frame-line">
            <div class="map-frame map4"></div>
            <div class="map-frame map5"></div>
            <div class="map-frame map6"></div>
        </div>
        <div class="map-frame-line">
            <div class="map-frame map7"></div>
            <div class="map-frame map8"></div>
            <div class="map-frame map9"></div>
        </div>
    </div>

    <button class="north">Север</button>
    <button class="south">Юг</button>
    <button class="west">Запад</button>
    <button class="east">Восток</button>
{% endblock body %}
